{{template "header" . }}
<div id="postform">
	<form method="POST" action="post">
		{{ .user.Username }}, what you are doing?
		<br>
		<table>
			<tr><td><textarea cols="70" rows="3" name="status"></textarea></td></tr>
			<tr><td align="right"><input type="submit" name="doit" value="Update"></td></tr>
		</table>
	</form>
	<div id="homeinfobox">
		<b> Followers: </b>
		<br/>
		{{ .user.Followers }}
		<br>
		<br>
		<b> Following: </b>
		<br/>
		{{ .user.Following }}
		<br>
	</div>
</div>
{{range .posts}}
<div class="post">
	<a class="username" href="profile?u={{.PostId}}">{{.PostId}}</a>
	{{.Content}}<br>
	<i>posted {{.TimePosted}} ago via web </i>
</div>
{{end}}
{{if or .prev .next}}
<div class="rightlink">
	{{if .prev}}
	<a href="?start={{.prev}}&u={{.user.Username}}">&laquo; Newer posts</a>
	{{end}}
	{{if .next}}
	<a href="?start={{.next}}&u={{.user.Username}}">Older posts &raquo;</a>
	{{end}}
</div>
{{end}}